
{% extends 'bootstrap_material_base.html.twig' %}

{% block body %}
    <nav>{% block nav %}{% endblock %}</nav>
    <header>{% block header %}{% endblock %}</header>
    <main>{% block main %}{% endblock %}</main>
    <footer>{% block footer %}{% endblock %}</footer>
{% endblock %}
